.innerContainer
{
    border: 2px solid grey;
    padding: 10px;
    width: 20%;
}

.outerContainer
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
}

.outerContainer :hover
{
    transition: all 0.3s ease;
    background-color: lightgrey;
}